<h1>{{data.title}}</h1>
  	
{{#each data.links}}
	<div class="main-content">
		<div class="highlight">{{inc @index}}. {{categoryName}}:</div>
  		<span class="sub-content">
  		{{#each categoryLinks}}
   			<a href="{{url}}"> {{name}} </a> {{#unless @last}},{{/unless}}
  		{{/each}}</span>
	</div>
{{/each}}
